* {
	transition: all 250ms ease-in;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 100%;
	overflow: hidden;
	text-align: center;
}

.row {
	display: flex;
	max-width: 90%;
	margin: 0 auto;

	.col-4 {
		width: 40%;
	}
	.col-6 {
		width: 60%;
	}

	.col-10 {
		width: 100%;
	}
}

.modal {
	visibility: hidden;
	opacity: 0;
	transition: opacity 250ms ease-in;

	&--open {
		visibility: visible;
		opacity: 1;

		&.col-4 {
			visibility: visible;
		}
	}

	&__container {
		position: fixed;
	}
}

.list {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		list-style: none;
		padding: 0 0.6rem;
		overflow: hidden;
		width: 200px;
	}

}