/* Font-family */
$titling: titling-gothic-fb, sans-serif;
$titlingNarrow: titling-gothic-fb-narrow, sans-serif;
$titlingCompressed: titling-gothic-fb-compressed, sans-serif;
$titlingCondensed: titling-gothic-fb-condensed, sans-serif;
$poynter: poynter-oldstyle-text, serif;